@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:200&display=swap&subset=japanese);
@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Kristi&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ramabhadra|Tauri&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
/*
font-family: 'Ramabhadra', sans-serif;太文字見出し
font-family: 'Montserrat Subrayada', sans-serif;装飾文字
 */

// 全体
body {
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
}

a {
    text-decoration: none ;
    }
//動画の全画面表示
.fitMovie {
    position: absolute;
}

//動画の斜めエフェクト
html {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #db143c 30%, #fff 20%);
    bottom: 0;
    left: -50%;
    opacity: .1;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: 5;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 2s;
}

.bg3 {
    animation-duration: 4s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

//動画の斜めエフェクトここまで

//scroll downボタンここから
.demo {
    position: absolute;
    top: 900px;
    left: 49%;
    z-index: 50;
}
.demo section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



//scroll downボタンここまで

//ヘッダーメニューここから
nav {
    position: fixed;
    display: inline-block;
    background-color: rgba(#323639, .9);
    background: linear-gradient(to bottom, rgba(#000, .8), #323639);
    width: 100vw;
    height: 50px;
    top: 0;
    margin: 0 auto;
    z-index: 10;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

section#nav-test {
    display: flex;
    justify-content: center;
    align-items: center;

    #nav-container {
        position: relative;
        margin: 0px auto;
        box-sizing: border-box;

        ul {
            display: flex;
            padding-left: 30px;
            padding-right: 30px;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                min-height: 48px;
                margin-left: 60px;
                cursor: pointer;
                user-select: none;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: rgb(241, 241, 241);
                }
            }
        }

        #line {
            position: absolute;
            bottom: 0;
            height: 2px;
            background: #db143c;
            transition: all 150ms ease-in-out;
            z-index: 11;
        }
    }

    h1 {
        margin-top: 30px;
        font-weight: 500;
        color: #212121;
    }
}

//ヘッダーメニューここまで

//キャッチコピーここから
.title_text_box {
    /* 日本語 */
    position: absolute;
    width: 700px;
    margin: 0 auto;
    padding: 10px 10px 10px 55px;
    top: 250px;
    left: 0%;
    border-top: 1px solid rgba(#fff, .5);
    border-bottom: 1px solid rgba(#fff, .5);
  background: -moz-linear-gradient(left, rgba(#fff,.2), transparent);
  background: -webkit-linear-gradient(left, rgba(#fff,.2), transparent);
  background: linear-gradient(to right, rgba(#fff,.2), transparent);
    font-size: 2rem;
    font-family: 'Noto Serif JP', serif;
    line-height: 1.8;
    text-align: right;
    font-weight: 100;
    text-shadow: 2px 1px 4px #000000;
    z-index: 10;
    letter-spacing: 1.5rem;

    p {
        margin: 15px 0 50px 0;
    }
}

.title_text_box2 {
    /* English */
    position: absolute;
    width: 600px;
    margin: 0 auto;
    padding: 10px 0px 10px 55px;
    top: 260px;
    left: 0%;
    font-family: 'Averia Serif Libre', cursive;
    text-align: right;
    margin: 80px 0px 0 0;
    color: rgba(#fff, 1);
    z-index: 10;

    span.be_a_driver {
        font-size: 1rem;
        letter-spacing: 1px;
        padding-right: 60px;
    }
}

//キャッチコピーここまで

//////mainコンテンツここから

//上の三角ここから
.top_sankaku {
    position: absolute;
    display: block;
    width: 2000px;
    height: 500px;
    background-color: #111;
    top: 800px;
    z-index: 10;
}

//上の三角ここまで
//下のしかくここから
.bottom_sankaku {
    position: absolute;
    display: block;
    width: 100vw;
    height: 1000px;
    background-color: #db143c;
    top: 3310px;
    box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.6);
    z-index: 16;
}

//下のしかくここまで

//斜めここから
.naname_left1 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 2000px;
    left: -500px;
    background: url(../images/new02.jpg) top left no-repeat;
    top: 1200px;
    transform: rotate(18deg) scale(1);
    z-index: 10;
}

.naname_left1:after {
    content: "";
    position: absolute;
    background-color: rgba(#db143c, .8);
    /* 赤 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .8;
}

.naname_right1 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 1500px;
    right: -500px;
    background: url(../images/company.jpg) top center no-repeat;
    background-size: cover;
    /* 白 */
    top: 1200px;
    transform: rotate(-18deg) scale(1);
    z-index: 11;
}

.naname_right1:after {
    content: "";
    position: absolute;
    background-color: #fff;/* 白 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .7;
}

.naname_left2 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 2000px;
    left: -500px;
    background: url(../images/aboutus.jpg) bottom center no-repeat;
    background-size: cover;
    top: 1830px;
    transform: rotate(18deg) scale(1);
    z-index: 12;
}
.naname_left2:after {
    content: "";
    position: absolute;
    background-color: #1f1f1f;
    /* 黒 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .8;
}

.naname_right2 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 1500px;
    right: -500px;
    background-color: #173080;
    /* 青 */
    top: 2450px;
    transform: rotate(-18deg) scale(1);
    z-index: 15;
}

.naname_left3 {
    position: absolute;
    display: block;
    width: 3000px;
    height: 700px;
    left: -500px;
    background-color: rgba(#db143c, 1);
    /* 赤 */
    top: 3040px;
    transform: rotate(18deg) scale(1);
    z-index: 16;
}



//斜めここまで

//コンテンツここから

.container {
    position: absolute;
    width: 80%;
    margin-left: 250px;
    z-index: 30;
}

section.contents_left {
    position: absolute;
    top: 0;
    left: -130px;
    width: 400px;
    z-index: 30;

    article {
        text-align: justify;
        text-justify: auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 4rem;
            margin: 50px 0 0 0;
        }

        p {
            margin: 20px 0 0 0;
        }
}
@media screen and (max-width: 850px){
section.contents_left {
    color: #1f1f1f;
    }
}



section.contents_right {
    position: absolute;
    top: 180px;
    right: 5%;
    width: 500px;
    z-index: 30;
    color: #1f1f1f;

    article {
        text-align: justify;
        text-justify: auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 4rem;
            margin: 50px 0 0 0;
        }

        p {
            margin: 10px 0 0 0;
            line-height: 2rem;
        }
}
@media screen and (max-width: 850px){
section.contents_right article p:last-of-type {
    background-color: rgba(#fff,.5);
    padding: 20px;
    }
}



section.contents_left2 {
    position: absolute;
    top: 850px;
    left: -130px;
    width: 400px;
    z-index: 30;

    article {
        text-align: justify;
        text-justify: auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 4rem;
            margin: 50px 0 0 0;
        }

        p {
            margin: 20px 0 0 0;
            font-size: .8rem;
        }
}
@media screen and (max-width: 850px){
section.contents_left2 {
    top: 950px;
    }
}



section.contents_right2 {
    position: absolute;
    top: 650px;
    right: 5%;
    width: 500px;
    z-index: 30;

    .aboutus {
/*         text-align: justify;
text-justify: auto; */
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 3rem;
            margin: 50px 0 0 0;
        }

        p {
            margin: 20px 0 0 0;
line-height: 2rem;
        }
}
}
////mainコンテンツここまで

//footerここから
footer {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 4000px;
    bottom: 0;
    height: 500px;
    z-index: 16;
    background-color: rgba(#1f1f1f, 1);
    background: linear-gradient(to top, #000, #323639);
    text-align: center;
    vertical-align: bottom;
}

//footerここまで