@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:200&display=swap&subset=japanese);
@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Kristi&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ramabhadra|Tauri&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Amiri|Cinzel|Cormorant|Cormorant+Garamond|DM+Serif+Text|EB+Garamond|Fredericka+the+Great|Italianno|Jockey+One|Righteous|Russo+One|Squada+One|Staatliches|Timmana&display=swap);
/*
font-family: 'Cinzel', serif;
font-family: 'Righteous', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Amiri', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Russo One', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Italianno', cursive;
font-family: 'DM Serif Text', serif;
font-family: 'Cormorant', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Squada One', cursive;
font-family: 'Jockey One', sans-serif;
font-family: 'Timmana', sans-serif;
 */

// 全体
body {
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
.cp_link {
    padding: 0.1em 0.3em;
    position: relative;
    display: inline-block;
    transition: .3s;
    color: #b7e3f2;
    font-weight: 800;
    // color: #5475e0;
}
.cp_link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: .3s;
}
.cp_link:hover::after {
    width: 100%;
}
//動画の全画面表示
.fitMovie {
    position: absolute;
}

//トップへ戻るボタン

#page-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: .8rem;
    z-index: 200;
    opacity: .9;
}
#page-top a {
    background: #111;
    text-decoration: none;
    color: #fff;
font-family: 'Righteous', cursive;
// font-family: 'Russo One', sans-serif;
// font-family: 'Squada One', cursive;
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    z-index: 200;
}
#page-top a:hover {
    text-decoration: none;
    background: #111;
    z-index: 200;
}

@media screen and (max-width: 850px){
#page-top {
    bottom: 0;
    left: 5px;
    z-index: 250;
}
}


//動画の斜めエフェクト

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #db143c 30%, #fff 20%);
    bottom: 0;
    left: -50%;
    opacity: .1;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: 5;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 2s;
}

.bg3 {
    animation-duration: 4s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

//動画の斜めエフェクトここまで

//scroll downボタンここから
.demo {
    position: absolute;
    top: 800px;
    left: 49%;
    z-index: 40;
}
.demo section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
text-shadow:0px 0px 5px rgba(#ababab,.5);
}
.demo a:hover {
  opacity: .5;
}

#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



//scroll downボタンここまで

//ヘッダーメニューここから
nav {
    position: fixed;
    display: inline-block;
    background-color: rgba(#323639, .9);
    background: linear-gradient(to bottom, rgba(#000, .8), #323639);
    width: 100vw;
    height: 50px;
    top: 0;
    margin: 0 auto;
    z-index: 10;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

section#nav-test {
    display: flex;
    justify-content: center;
    align-items: center;

    #nav-container {
        position: relative;
        margin: 0px auto;
        box-sizing: border-box;

        ul {
            display: flex;
            padding-left: 30px;
            padding-right: 30px;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                min-height: 48px;
                margin-left: 90px;
                cursor: pointer;
                user-select: none;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: rgb(241, 241, 241);
                }
            }
        }

        #line {
            position: absolute;
            bottom: 0;
            height: 2px;
            background: #db143c;
            transition: all 150ms ease-in-out;
            z-index: 11;
        }
    }

    h1 {
        margin-top: 30px;
        font-weight: 500;
        color: #212121;
    }
}


//ヘッダーメニューここまで

//キャッチコピーここから
.title_box {
    position: absolute;
    width: 100vw;
    top: 350px;
    color: #fff;
    font-size: 7rem;
    line-height: 1.8;
    text-align: center;
    font-weight: 400;
    z-index: 10;
// font-family: 'Righteous', cursive;
font-family: 'Russo One', sans-serif;
// font-family: 'Squada One', cursive;
text-shadow:0px 0px 5px rgba(#ababab,.5);
    line-height: 5.5rem;
}
//キャッチコピーここまで

//////mainコンテンツここから

//上の三角ここから
.top_sankaku {
    position: absolute;
    display: block;
    width: 2000px;
    height: 500px;
    background-color: #111;
    top: 780px;
    z-index: 10;
}
@media screen and (max-width: 850px){
  .top_sankaku {
    top: 600px;
  }
}
//上の三角ここまで
//下のしかくここから
.bottom_sankaku {
    position: absolute;
    display: block;
    width: 100vw;
    height: 1000px;
    top: 3600px;
    background-color: #1f1f1f;
    box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.6);
    // opacity: .9;
    z-index: 16;
}
.bottom_sankaku:after {
    content: "";
    position: absolute;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQYV2M0MrP8zwAFUjJyDIwwARDn2ZNHEAEYB6SQ0Sco/D9IBgYA7c0P2a2Mt8YAAAAASUVORK5CYII=) repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .5;
  }

@media screen and (max-width: 1024px){
.bottom_sankaku {
  height: 1500px;
}

}
//下のしかくここまで


//斜めここから
.naname_left1 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 2000px;
    left: -500px;
    background: url(../images/new.jpg) top left no-repeat;
    top: 1200px;
    transform: rotate(18deg) scale(1);
    z-index: 10;
}

.naname_left1:after {
    content: "";
    position: absolute;
    background-color: rgba(#db143c, .8);
    /* 赤 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .8;
}

.naname_right1 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 1500px;
    right: -500px;
    background: url(../images/company.jpg) top center no-repeat;
    background-size: cover;
    /* 白 */
    top: 1200px;
    transform: rotate(-18deg) scale(1);
    z-index: 11;
}

.naname_right1:after {
    content: "";
    position: absolute;
    background-color: #fff;/* 白 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .7;
}

.naname_left2 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 2000px;
    left: -500px;
    background: url(../images/aboutus.jpg) bottom center no-repeat;
    background-size: cover;
    top: 1830px;
    transform: rotate(18deg) scale(1);
    z-index: 12;
}
.naname_left2:after {
    content: "";
    position: absolute;
    background-color: #1f1f1f;
    /* 黒 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .8;
}

.naname_right2 {
    position: absolute;
    display: block;
    width: 3500px;
    height: 1500px;
    right: -500px;
    background: url(../images/map.jpg) bottom center no-repeat;
    background-size: cover;
    top: 2450px;
    transform: rotate(-18deg) scale(1);
    z-index: 15;
}
.naname_right2:after {
    content: "";
    position: absolute;
    background-color: #176580;/* 青 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .8;
}

.naname_left3 {
    position: absolute;
    display: block;
    width: 3000px;
    height: 1000px;
    left: -500px;
    background: url(../images/contact.jpg) bottom center no-repeat;
    background-size: cover;
    /* 赤 */
    top: 3040px;
    transform: rotate(10deg) scale(1);
    z-index: 16;
}

.naname_left3:after {
    content: "";
    position: absolute;
    background-color: #db143c;/* 赤 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .7;
}

//斜めここまで

//コンテンツここから

.container {
    position: absolute;
    width: 80%;
    margin-left: 250px;
    z-index: 30;
}
@media screen and (max-width: 2000px){
    .container {
        top: 950px;
    }
}

section.contents_left {//news
    position: absolute;
    top: 0;
    left: 0px;
    width: 400px;
    z-index: 30;

    article {
        text-align: justify;
        text-justify: auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 6rem;
            margin: 0;
        }

        p {
            margin: 15px 0 10px 0;
        }
}
@media screen and (max-width: 1300px){//news
section.contents_left {
    width: 300px;
    top: 0px;
    left: -170px;
    color: #1f1f1f;
    background-color: rgba(#fff,.5);
    padding: 20px;
    box-shadow:0px 0px 13px -4px #dbdbdb;
    font-size: .8rem;
    h2 {
        margin: 0;
        text-align: center;
        font-size: 3rem;
    }
    }
}
@media screen and (max-width: 850px){
section.contents_left {
  left: -230px;
}
}

section.contents_right {//about
    position: absolute;
    top: 110px;
    right: 3%;
    width: 670px;
    z-index: 30;
    color: #1f1f1f;

    article {
        text-align: justify;
        text-justify: auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 6rem;
            margin: 0;
        }

        p {
            font-size: .9rem;
            width: 75%;
            margin: 15px 0 50px 0;
            line-height: 2rem;
        }
}
@media screen and (max-width: 1300px){//about
section.contents_right {
    width: 300px;
    top: 180px;
    right: 217px;
    background-color: rgba(#fff,.5);
    padding: 20px;
    box-shadow:0px 0px 13px -4px #dbdbdb;
    font-size: .8rem;
    h2 {
        margin-top: 0px;
        text-align: center;
                font-size: 3rem;
    }
            p {
            font-size: .8rem;
            width: 100%;
            margin: 15px 0 50px 0;
            line-height: 1.5rem;
        }
}
}
@media screen and (max-width: 850px){
section.contents_right {
    right: 190px;
}
}

section.contents_left2 {//company
    position: absolute;
    top: 650px;
    left: 0px;
    width: 400px;
    z-index: 30;

    article {
        text-align: justify;
        text-justify: auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 6rem;
            margin: 50px 0 0 0;
        }

        p {
            margin: 15px 0 10px 0;
            font-size: .8rem;
        }
}
@media screen and (max-width: 1300px){//company
    section.contents_left2 {
    width: 330px;
        top: 880px;
        left: -172px;
        background-color: rgba(#fff,.5);
        padding: 20px 0 20px 10px;
        box-shadow:0px 0px 13px -4px #dbdbdb;
        font-size: .8rem;
        color: #1f1f1f;
        h2 {
            margin-top: 0px;
                font-size: 3rem;
                text-align: center;
        }
    }
}
@media screen and (max-width: 850px){
section.contents_left2 {
  left: -230px;
  top: 860px;
}
}

section.contents_right2 {//ACCESS
    position: absolute;
    top: 1350px;
    right: 3%;
    width: 750px;
    z-index: 30;

        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 6rem;
            margin: 50px 0 30px 0px;
        }
        h4{
          font-size: 1.5rem;
          margin: 10px 0 20px 0;
        }
        p {
        width: 380px;
        margin: 0px 0 0 20px;
        line-height: 2rem;
        font-size: .9rem;
        // background-color: orange;
        }
}


@media screen and (max-width: 1300px){//ACCESS
    section.contents_right2 {
    width: 300px;
    top: 1500px;
    right: 217px;
    background-color: rgba(#fff,.5);
    padding: 20px;
    box-shadow:0px 0px 13px -4px #dbdbdb;
    color: #1f1f1f;
    font-size: .8rem;
        h2 {
            margin: 0px;
            font-size: 3rem;
            text-align: center;
        }
        h4 {
          margin-top: 20px;
        }
            p {
            font-size: .8rem;
            width: 100%;
            line-height: 1.5rem;
            background-color: transparent;
        }
    }
}
@media screen and (max-width: 850px){
section.contents_right2 {
    right: 190px;
    top: 1530px;
}
}

section.contents_left3 {//contact
    position: absolute;
    top: 2070px;
    left: 0px;
    width: 400px;
    z-index: 30;

    article {
        text-align: justify;
        text-justify: auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 6rem;
            margin: 0 0 20px 0;
        }

        p {
            margin: 15px 0 10px 0;
            font-size: .8rem;
        }
}
@media screen and (max-width: 1300px){//contact
    section.contents_left3 {
    width: 330px;
        top: 2260px;
        left: -172px;
        background-color: rgba(#fff,.5);
        padding: 20px 0 20px 10px;
        box-shadow:0px 0px 13px -4px #dbdbdb;
        font-size: .8rem;
        color: #1f1f1f;
        h2 {
            margin-top: 0px;
                font-size: 3rem;
                text-align: center;
        }
    }
}
@media screen and (max-width: 850px){
section.contents_left3 {
  left: -230px;
}
}

section.contents_center {//service
    position: absolute;
    top: 3650px;
    width: 100vw;
    z-index: 30;
    text-align: center;

    article.service {
      width: 70vw;
        margin: 0 auto;
    }
        h2 {
            font-family: 'Montserrat Subrayada', sans-serif;
            font-style: italic;
            font-size: 7rem;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    .service_p {
      display: flex;
      width: 70vw;
      height: 500px;
      // background-color: green;
      z-index: 30;
      justify-content: space-between;
      }
      div.service_img {
      width: 410px;
      height: 470px;
      margin: 15px 20px 10px 0;
      font-size: .8rem;
      text-align: justify;
      text-justify: auto;
      background-color: rgba(#1f1f1f,.8);
      box-shadow: 0rem 0rem .4rem 0 rgba(#000, 0.2);
      // float: left;
      }
      .service_img:last-child{
      margin: 15px 0px 0px 0;
      }
      h3 {
        margin: 20px 30px 10px 30px;
        font-size: 1.2rem;
        color: #eee;
      }
      p.service_text{
        padding: 10px 30px 0;
        font-size: .9rem;
        line-height: 1.5rem;
        color: #eee;
      }
      img {
      width: 410px;
      height: 270px;
      object-fit: cover; /* この一行を追加するだけ！ */
      }
}

@media screen and (max-width: 1024px){//Service
      section.contents_center {//contact
          position: absolute;
          top: 3800px;
          width: 100vw;
          z-index: 30;
          text-align: center;

          article.service {
            width: 60vw;
              margin: 0 auto;
          }
              h2 {
                  font-family: 'Montserrat Subrayada', sans-serif;
                  font-style: italic;
                  font-size: 3rem;
                  margin-top: 20px;
                  margin-bottom: 50px;
              }
          .service_p {
            display: block;
            width: 60vw;
            height: 500px;
            // background-color: green;
            z-index: 30;
            justify-content: space-between;
            }
            div.service_img {
            width: 310px;
            height: 370px;
            margin: 15px 20px 10px 0;
            font-size: .8rem;
            text-align: justify;
            text-justify: auto;
            background-color: rgba(#1f1f1f,.8);
            box-shadow: 0rem 0rem .4rem 0 rgba(#000, 0.2);
            // float: left;
            }
            .service_img:last-child{
            margin: 15px 0px 0px 0;
            }
            h3 {
              margin: 20px 30px 10px 30px;
              font-size: .8rem;
              color: #eee;
            }
            p.service_text{
              width: 250px;
              padding: 5px 30px 0;
              font-size: .8rem;
              line-height: 1.5rem;
              color: #eee;
            }
            img {
            width: 310px;
            height: 170px;
            object-fit: cover; /* この一行を追加するだけ！ */
            }
      }
}
@media screen and (max-width: 850px){//Service
      section.contents_center {//contact
          position: absolute;
          top: 3800px;
          width: 100vw;
          z-index: 30;
          text-align: center;
          article.service {
            width: 83vw;
              margin: 0 0 0 30px;
          }
              h2 {
                  font-family: 'Montserrat Subrayada', sans-serif;
                  font-style: italic;
                  font-size: 3rem;
                  margin-top: 20px;
                  margin-bottom: 50px;
              }
          .service_p {
            display: block;
            width: 60vw;
            height: 500px;
            // background-color: green;
            z-index: 30;
            justify-content: space-between;
            }
            div.service_img {
            width: 310px;
            height: 370px;
            margin: 15px 20px 10px 0;
            font-size: .8rem;
            text-align: justify;
            text-justify: auto;
            background-color: rgba(#1f1f1f,.8);
            box-shadow: 0rem 0rem .4rem 0 rgba(#000, 0.2);
            // float: left;
            }
            .service_img:last-child{
            margin: 15px 0px 0px 0;
            }
            h3 {
              margin: 20px 30px 10px 30px;
              font-size: .8rem;
              color: #eee;
            }
            p.service_text{
              width: 250px;
              padding: 5px 30px 0;
              font-size: .8rem;
              line-height: 1.5rem;
              color: #eee;
            }
            img {
            width: 310px;
            height: 170px;
            object-fit: cover; /* この一行を追加するだけ！ */
            }
      }
}


//company lineここから
$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;

.company_body {
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  // color: #fff;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.timeline {
  width:100%;
  max-width:450px;
  // background:#fff;
  padding: 50px 0 0 0;
  position: relative;
  // box-shadow: $container-shadow;
  &:before {
    content: '';
    position: absolute;
    top: -30px;
    left:calc(33% + 15px); //$gutter/2
    bottom: 0px;
    width: 5px;
    background: #fff;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid #db143c;
            // background-color:#fff;
      border-radius:100%;
      top: 15%;
      right: -$dot-diameter;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 2px 0 0 0;
      font-size: 1rem;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;
    p {
        font-size: .9rem;
      line-height: 1.5em;
      padding-top: 5px;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color:#aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}

@media screen and (max-width: 1024px){//company line
    .company_body {
      width: 65vw;
      font-size: .7rem;
    }
    .timeline {
  max-width:300px;
    }
    .timeline:before {
    background: #1f1f1f;
    top: -15px;
    }
    .entry .title {
        padding-right: 15px;
    }
    .entry .body p {
    font-size: .8rem;
    }
}
//company lineここまで

//accessここから
.googlemap {
  float: left;
}
@media screen and (max-width: 1024px){//company line
.mapsize {
  width: 295px;
  height: 295px;
}
}
.access_text {
  float: right;
  padding: 0 0 0 20px;
}
article.access{
    p {
        margin: 0;
        padding: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      }
      li {
      }
}
//accessここまで

//contactここから

// Color vars

$white: rgba(#fff,.3);
$grey: #ccc;
$dark_grey: #555;
$blue: #1f1f1f;
$pink: #ee9cb4;

// Functions

@function pxtoem($target, $context){
  @return ($target/$context)+0em;
}

//

.container_contact {
  max-width: 400px;
  min-width: 400px;
  margin: 0px auto 0px;
  background-color: $white;
        .row {
          width: 75%;
          margin: 0 0 1em 0;
          padding: 0 2.5em;
          &.header {
            padding: 1.5em 2.5em;
            border-bottom: 1px solid $grey;
            background: url(https://images2.imgbox.com/a5/2e/m3lRbCCA_o.jpg) left -80px;
            color: $white;
          }
          &.body {
            padding: .5em 2.5em 1em;
          }
        }
        .pull-right {
          float: right;
        }
        h1 {
          display: inline-block;
          font-weight: 100;
          font-size: pxtoem(45, 16);
          border-bottom: 1px solid hsla(100%, 100%, 100%, 0.3);
          margin: 0 0 0.1em 0;
          padding: 0 0 0.4em 0;
        }
        h3 {
          font-size: pxtoem(20, 16);
          margin: 1em 0 0.4em 0;
        }
        .btn {
          font-size: pxtoem(17, 16);
          display: inline-block;
          padding: 0.74em 1.5em;
          margin: 1.5em 0 0;
          color: $white;
          border-width: 0 0 0 0;
          border-bottom: 5px solid;
          text-transform: uppercase;
        }

}
        form {
          max-width: 100%;
          display: block;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              margin: 0 0 0.25em 0;
              clear: both;
              display: inline-block;
              width: 100%;
              &:last-child {
                  margin: 0;
                }
                p {
                  margin: 0;
                  padding: 0;
                  float: left;
                  &.right {
                    float: right;
                  }
                }
                .divider {
                  margin: 0.5em 0 0.5em 0;
                  border: 0;
                  height: 1px;
                  width: 100%;
                  display: block;
                  background-color: $blue;
                  background-image: linear-gradient(to right, $pink, $blue);
                }
                .req {
                  color: $pink;
                }
            }
          }
          label {
            display: block;
            margin: 0 0 0.5em 0;
            color: $blue;
            font-size: pxtoem(16, 16);
          }
          input {
            margin: 0 0 0.5em 0;
            border: 1px solid $grey;
            padding: 6px 10px;
            color: $dark_grey;
            font-size: pxtoem(16, 16);
          }
          textarea {
            border: 1px solid $grey;
            padding: 6px 10px;
            width: 100%;
            color: $dark_grey;
          }
          small {
            color: $blue;
            margin: 0 0 0 0.5em;
          }
        }

// Media Queries

@media only screen and (max-width:1024px) {
.container_contact {
  background-color: rgba(#fff,0);
  max-width: 320px;
  min-width: 320px;
  padding: 0;
}
.row {
  background-color: rgba(#fff,0);
}
  .body {
  padding: 0;
  }
  .pull-right {
    float: none;
  }
  input {
    width: 80%;
  }
  label {
    width: 90%;
  }
  li, p {
   width: 90%;
  }
  textarea {
    margin-bottom: 30px;
  }
}


//contactここまで


////mainコンテンツここまで

//footerここから
footer {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 4420px;
    bottom: 0;
    height: 460px;
    width: 100vw;
    z-index: 16;
    background-color: rgba(#1f1f1f, 1);
    background: linear-gradient(to top, #000, #323639);
    text-align: center;
    vertical-align: bottom;
    // overflow-x: hidden;
}

.footer {
    position: relative;
    top: 0px;
    width: 100vw;
    height: 60px;
    background-color: #1f1f1f;
    line-height: 3.5rem;
    z-index: 40;
}

section.movie {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100vw;
    background: url(../images/footer.jpg) top center no-repeat;
    background-size: cover;
    height: 400px;
    overflow: hidden;

    div.center {
        margin: 0 auto;
        z-index: 40;
    }
    div {
        float: left;
        font-size: .8rem;
        color: rgba(#fff,.3);
        line-height: 2rem;
        margin: 50px 30px 20px 30px;
        height: 400px;
    }
}
section.movie:after {
    content: "";
    position: absolute;
    background-color: #1f1f1f;
    /* 黒 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .7;
}


@media screen and (max-width: 1024px){
footer {
    top: 5100px;
}
.movie {
  width: 300px;
}
}

//footerここまで

///スマホナブメニューここから
@media screen and (max-width: 850px){

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

.none{
  display:none;
}

a{
  text-style: none;
  transition: color 0.3s ease;
  color: #fff;
}

a:hover
{
  color: #db143c;
}

#menuToggle
{
  position: fixed;
  display: block;
  top: 20px;
  left: 20px;
  z-index: 201;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 202; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #1f1f1f;
  border-radius: 3px;

  z-index: 201;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #db143c;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: rgba(#1f1f1f,.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}
///スマホナブメニューここまで